<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragment/head :: head"></head>
    <body>

    <!-- Behaviour -->
    <script sec:authorize="hasRole('ADMIN')">
        $(document).on("click", ".open-delete-dialog", function () {
        $("#deleteId").val($(this).data('id'));
        });
    </script>

    <script sec:authorize="hasRole('EMPLOYEE')">
        $(document).on("click", ".open-edit-dialog", function () {
        $("#activateId").val($(this).data('id'));
        });
    </script>

    <script sec:authorize="hasRole('CUSTOMER')">
        $(document).on("click", ".open-add-to-cart-dialog", function () {
        $("#carId").val($(this).data('id'));
        });
    </script>
    <!-- EO: Behaviour-->

    <!-- Navbar -->
    <div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
    <!-- EO: Navbar -->
        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Sedans</h1>
                <p class="lead">There is no better feeling in the world than a warm pizza box in your lap.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="sedan : ${sedans}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${sedan.imgSrc}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${sedan.name}"></h5>
                        <p class="card-text" th:text="${sedan.description}"></p>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted" th:text="${sedan.price}"></span>
                        <div class="row my-1">
                            <div class="col">
                                <div sec:authorize="hasRole('CUSTOMER')">
                                    <button type="button"
                                            th:if="${sedan.activity}"
                                            class="open-add-to-cart-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#addToCartModal"
                                            th:data-id="*{sedan.id}">Add To Cart
                                    </button>
                                </div>
                            </div>
                            <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${!sedan.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{sedan.id}">Activate
                                    </button>
                            </div>
                            <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${sedan.activity}">
                                <button type="button"
                                        class="open-edit-dialog btn btn-warning text-light btn-block"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{sedan.id}">Deactivate
                                </button>
                            </div>
                        </div>
                        <div class="row" sec:authorize="hasRole('ADMIN')">
                            <div class="col">
                                <a th:href="@{/cars/edit/{id}(id=${sedan.id})}" class="btn btn-block btn-primary font-weight-bold text-white">Edit</a>
                            </div>
                            <div class="col">
                                <button type="button"
                                        class="open-delete-dialog btn btn-danger text-light btn-block"
                                        data-toggle="modal"
                                        data-target="#deleteModal"
                                        th:data-id="*{sedan.id}">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">SUVs and Crossovers</h1>
                <p class="lead">The essence of a good salad is simplicity. Clean, bright flavors that, when brought together, bring out the best in one another.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="suv : ${suvs}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${suv.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${suv.name}"></h5>
                            <p class="card-text" th:text="${suv.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${suv.price}"></small>
                            <div class="row my-1">
                                <div class="col" sec:authorize="hasRole('CUSTOMER')">
                                    <button type="button"
                                            th:if="${suv.activity}"
                                            class="open-add-to-cart-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#addToCartModal"
                                            th:data-id="*{suv.id}">Add To Cart
                                    </button>
                                </div>
                                <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${!suv.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{suv.id}">Activate
                                    </button>
                                </div>
                                <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${suv.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-warning text-light btn-block"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{suv.id}">Deactivate
                                    </button>
                                </div>
                            </div>
                            <div class="row" sec:authorize="hasRole('ADMIN')">
                                <div class="col">
                                    <a th:href="@{/cars/edit/{id}(id=${suv.id})}" class="btn btn-block btn-primary font-weight-bold text-white">Edit</a>
                                </div>
                                <div class="col">
                                    <button type="button"
                                            class="open-delete-dialog btn btn-danger text-light btn-block"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            th:data-id="*{suv.id}">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Station Wagons</h1>
                <p class="lead">It is hard to be sad when you are eating a cookie.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="station : ${stations}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${station.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${station.name}"></h5>
                            <p class="card-text" th:text="${station.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${station.price}"></small>
                            <div class="row my-1">
                                <div class="col" sec:authorize="hasRole('CUSTOMER')">
                                    <button type="button"
                                            th:if="${station.activity}"
                                            class="open-add-to-cart-dialog btn btn-success"
                                            data-toggle="modal"
                                            data-target="#addToCartModal"
                                            th:data-id="*{station.id}">Add To Cart
                                    </button>
                                </div>
                                <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${!station.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{station.id}">Activate
                                    </button>
                                </div>
                                <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${station.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-warning text-light btn-block"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{station.id}">Deactivate
                                    </button>
                                </div>
                            </div>
                            <div class="row" sec:authorize="hasRole('ADMIN')">
                                <div class="col">
                                    <a th:href="@{/cars/edit/{id}(id=${station.id})}" class="btn btn-block btn-primary font-weight-bold text-white">Edit</a>
                                </div>
                                <div class="col">
                                    <button type="button"
                                            class="open-delete-dialog btn btn-danger text-light btn-block"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            th:data-id="*{station.id}">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Hatchbacks</h1>
                <p class="lead">“I drink to make other people more interesting.”
                    ― Hemingway, Ernest</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="hatchback : ${hatchbacks}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${hatchback.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${hatchback.name}"></h5>
                            <p class="card-text" th:text="${hatchback.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${hatchback.price}"></small>
                            <div class="row my-1">
                                <div class="col" sec:authorize="hasRole('CUSTOMER')">
                                    <button type="button"
                                            th:if="${hatchback.activity}"
                                            class="open-add-to-cart-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#addToCartModal"
                                            th:data-id="*{hatchback.id}">Add To Cart
                                    </button>
                                </div>
                                <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${!hatchback.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-success btn-block"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{hatchback.id}">Activate
                                    </button>
                                </div>
                                <div class="col" sec:authorize="hasRole('EMPLOYEE')" th:if="${hatchback.activity}">
                                    <button type="button"
                                            class="open-edit-dialog btn btn-warning btn-block text-light"
                                            data-toggle="modal"
                                            data-target="#activateModal"
                                            th:data-id="*{hatchback.id}">Deactivate
                                    </button>
                                </div>
                            </div>
                            <div class="row" sec:authorize="hasRole('ADMIN')">
                                <div class="col">
                                    <a th:href="@{/cars/edit/{id}(id=${hatchback.id})}" class="btn btn-block btn-primary font-weight-bold text-white">Edit</a>
                                </div>
                                <div class="col">
                                    <button type="button"
                                            class="open-delete-dialog btn btn-danger text-light btn-block"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            th:data-id="*{hatchback.id}">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Activate car-->
        <div sec:authorize="hasRole('EMPLOYEE')" th:replace="car/modal/activateModal :: activate-car">
            Modal dialog for activating car
        </div>
        <!-- EO: Activate car-->

        <!-- Add to cart car-->
        <div sec:authorize="hasRole('CUSTOMER')" th:replace="car/modal/addToCartModal :: add-to-cart">
            Modal dialog for adding car to cart
        </div>
        <!-- EO: Add to cart car-->

        <!-- Delete car-->
        <div sec:authorize="hasRole('ADMIN')" th:replace="car/modal/deleteModal :: delete-car">
        Modal dialog for deleting car
        </div>
        <!-- Delete car-->

    </body>
</html>