<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
<!-- EO: Navbar -->


<div class="container center text-center my-4 w-50">
    <h1>Add new car</h1>
    <form th:action="@{/cars/recommend}" method="post" th:object="${carBindingModel}">

<!--        <div th:if="${#fields.hasErrors('*')}">Entry has errors!</div>-->

        <div id="quizWrap">
            <!-- QUESTION -->
            <div class="quizQn">Car type question</div>
            <!-- ANSWER -->
            <select name="carType" th:size="${#lists.size(T(com.tusofia.project.carshop.database.entity.car.CarType).values()) + 1}">
                <option class="quizAns" th:each="carType : ${T(com.tusofia.project.carshop.database.entity.car.CarType).values()}"
                        th:value="${carType}" th:text="${carType.displayValue}"></option>
            </select>

            <!-- QUESTION -->
            <div class="quizQn">Car type question</div>
            <!-- ANSWER -->
            <select name="fuelType" th:size="${#lists.size(T(com.tusofia.project.carshop.database.entity.car.FuelType).values()) + 1}">
                <option class="quizAns" th:each="fuelType : ${T(com.tusofia.project.carshop.database.entity.car.FuelType).values()}"
                        th:value="${fuelType}" th:text="${fuelType.displayValue}"></option>
            </select>

            <!-- QUESTION -->
            <div class="quizQn">Which of these is most important to you when it comes to your vehicle?</div>
            <!-- ANSWER -->
            <select name="categoryType" th:size="${#lists.size(T(com.tusofia.project.carshop.database.entity.car.CategoryType).values()) + 1}">
                <option class="quizAns" th:each="categoryType : ${T(com.tusofia.project.carshop.database.entity.car.CategoryType).values()}"
                        th:value="${categoryType}"></option>
            </select>

            <!-- QUESTION -->
            <div class="quizQn">Car type question</div>
            <!-- ANSWER -->
            <select name="brand" th:size="${#lists.size(T(com.tusofia.project.carshop.database.entity.car.Brand).values()) + 1}">
                <option class="quizAns" th:each="brand : ${T(com.tusofia.project.carshop.database.entity.car.Brand).values()}"
                        th:value="${brand}" th:text="${brand.displayValue}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-outline-success w-50">Submit new car</button>
    </form>
</div>

</body>
</html>